<ion-grid class="ion-margin-top">
  <ion-row>
    <img
      [src]="'http://192.168.1.143/webcam/?action=stream'"
      alt="Live stream"
      class="streaming-img" />
  </ion-row>
  <ion-row class="ion-justify-content-center ion-margin-top">
    <ion-button class="ion-margin-end" (click)="getFiles()">Pause</ion-button>
    <ion-button class="ion-margin-start">Resume</ion-button>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-margin-top">
    <ion-button color="danger">Cancel</ion-button>
  </ion-row>

  <ion-row
    class="ion-justify-content-center ion-align-items-center ion-margin-top gap-between-controls">
    <ion-col size="auto" class="ion-justify-content-center">
      <div class="x-y-controls">
        <ion-button class="movement-arrow" (click)="moveY(-10)">
          <ion-icon name="arrow-up-outline"></ion-icon>
        </ion-button>
        <div class="horizontal-controls">
          <ion-button class="movement-arrow" (click)="moveX(-10)">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
          <div class="center-label">X / Y</div>
          <ion-button class="movement-arrow" (click)="moveX(10)">
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </div>
        <ion-button class="movement-arrow" (click)="moveY(10)">
          <ion-icon name="arrow-down-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-col>

    <ion-col size="auto" class="ion-justify-content-center">
      <div class="z-controls">
        <ion-button class="movement-arrow" (click)="moveZ(10)">
          <ion-icon name="arrow-up-outline"></ion-icon>
        </ion-button>
        <div class="center-label">Z</div>
        <ion-button class="movement-arrow" (click)="moveZ(-10)">
          <ion-icon name="arrow-down-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
